.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main__trip {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 40em;
    border: solid;
    margin: 0.5em;
}
.main__trip_img {
    width: 100%;
    height: 50%;
}
.main__trip_img > img {
    width: 100%;
    height: 100%;
    border-bottom: solid;
}
.main__trip_info {
    width: 100%;
    height: 50%;
}
.main__trip_info > p {
    margin: 0.1em 1em;
    border-bottom: 1px solid black;
}
.main__trip_info > a {
    margin: 0.1em 1em;
}
.main__trip_info > h1 {
    margin: 0.5em 1em;
    text-align: center;
}
.trip__container {
    display: flex;
    flex-direction: row;
}
.reviews__container {
    display: flex;
    flex-direction: column;
}
.reviews {
    border: 1px solid black;
}